
#hero {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(https://media.istockphoto.com/id/470721440/vector/books-seamless-pattern.jpg?s=612x612&w=0&k=20&c=SBWwuWALkou5kDTDq6_V7SGuBMJ4vxTK3y15B9ZSFDE=);
    background-repeat: no-repeat;
    background-size: cover;  */
    background-color: rgb(249, 249, 239);
}

#hero-content {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 0 2rem;
}
#hero-content > p:first-child {
    font-size: 2rem;
}

#hero-content > p:last-child {
    font-size: 1.5rem;
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
}

.visible {
    transform: translateX(0) !important;
}