

#hero {
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(https://images.unsplash.com/photo-1586936893354-362ad6ae47ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHJlc2VhcmNofGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover; */
}


#hero-content {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-align: center;
    padding: 0 2rem;
}
#hero-content > p:first-child {
    font-size: 2rem;
}

#hero-content > p:last-child {
    font-size: 1.5rem;
    transform: translateX(100vw);
    transition: all 0.5s ease-in-out;
}

.visible {
    transform: translateX(0) !important;
}