.mainbody{
    height: 170vh;
    background-image: linear-gradient(to left top, #000000, #000000, #000000, #000000, #000000, #181818, #292929, #3b3b3b, #676767, #979797, #cacaca, #ffffff);
}
body{
    margin: 0;
}

.header{
    
    width: 100%;
    height: 50px;
    border-bottom: #4ca743a2 2px ridge;
  

}
.headerleft{
    width: 50%;
    float: left;
    height: 50px;
    
   
}

.headerright{
    width: 50%;
    height: 50px;
    float: left;
    

}

.contcontrols{
   

}
.details{
    font-size: 40px;

}
.cont{
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-left: 50px;

}
.backbt{
    border-radius:6px;
    border-color: white;
    margin-left: 84%;
    margin-top: 7px;
    width: 103px;
    height: 33px;
    color: yellow;
    background-color: black
    
    
    
}
.submit{
    width: 100px;
    height: 41px;
    margin-top: 39px;
    margin-left: 486px;
    
    

}
.leftcontent{
    width: 20%;
    height: 270vh ;
    border-right: #ffffff 3px ridge;
    background-color: rgba(77, 116, 136, 0.108);
    float: left
    




}
.rightcontent{
    width: 70%;
    float: left;
    height: 270vh;

}
.cont{
    border-radius: 20px;
    width: 530px;
    padding-left: 20px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}